.titulo {
  background-color: #06090F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0 0 0 ;
}

h1 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

#titulo {
  font-size: 2.8rem;
  font-weight: 500;
}

#intro {
  color: #f1f3f7;
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  #titulo {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 2.2rem;
  }

  #intro {
    font-size: 1.2rem;
  }

}

@media (max-width: 380px) {
  #titulo {
    font-size: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  #intro {
    font-size: 0.8rem;
  }

}