img {
  width: 100%;
  border-radius: 6px;
}

.container-slider {
  margin-top: 25px;
}

.container-titulo {
  display: flex;
  justify-content: center;
}

.titulo-slider {
  font-size: 2.0rem;
  color: aliceblue;
  margin-bottom: 25px;
}

