img {
  width: 100%;
  border-radius: 6px;
}

.container-slider {
  margin-top: 25px;
}

.container-titulo {
  display: flex;
  justify-content: center;
}

.titulo-slider {
  font-size: 2.0rem;
  color: aliceblue;
  margin-bottom: 25px;
}

@media (max-width: 1140px) {
  article .slider h2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 1000px) {
  article .slider h2 {
    font-size: 1rem;
  }

  article .slider span {
    font-size: 1rem;
  }
}

@media (max-width: 490px) {
  article .slider h2 {
    font-size: 0.8rem;
   }
}

